:root {
  --font-family: 'Roboto', sans-serif;
  color-scheme: dark; 
  background: #0b1717; 
  color: #e8ffe8;
}

.search-input::placeholder { color: #8BA7A7; }

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
